node_modules
npm-debug.log
build
**/.git
**/.DS_Store
**/node_modules
backend
prototype-master-claude
docs
infra
.git
.gitignore
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
